<dl class="sub-nav">
  <dd class="active"><%= link_to '_home', root_path %></dd>
  <dd class="active"><%= link_to '_edit', edit_question_path %></dd>
  <dd class="active" id="delete"><%= link_to '_delete', '/questions/' + @question.to_param, method: :delete %></dd>
</dl>

<div class="title">
<%= @question.title %>
<p class="username"><%= '> ' %><%= @question.user.username %><%= ' | ' %><%= @question.created_at %></p></p>
</div>

<div class="description panel">
<p><%= @question.description %></p>
</div>

<fieldset>
  <legend>_answer(s)</legend>

  <div class="answers">
    <% @question.answers.each do |answer| %>
    <div class="answers panel">
      <p><%= link_to '_edit', edit_question_answer_path(@question, answer) %><%= ' | ' %>
         <%= link_to '_delete', '/questions/' + answer.question_id.to_s + '/answers/' + answer.to_param, method: :delete %></p>
      <%= markdown(answer.description) %>
      <p class="username"><%= answer.user.username %><%= ' | ' %><%= answer.created_at %></p>
    </div>
    <% end %>
  </div>

  <fieldset>
      <%= form_for [@question, @answer] do |f| %>

      <%= f.label :description, "_submit an answer" %>
      <%= f.text_area :description %></br>

      <%= f.submit "_submit" %>
    <% end %>
  </fieldset>
</fieldset>
